# ================================
# System files
# ================================
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# ================================
# Python cache
# ================================
__pycache__/
*.py[cod]

# ================================
# Subject & personal notes
# ================================
*.pdf
FLO.txt
